@media (max-width: 830px) {
  body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
  }
  .max-width-wrapper {
    width: auto;
  }

  header {
    display: grid;
    justify-content: center;
  }

  /* Navigation begins  */
  .main_nav ul li a {
    color: rgb(249, 103, 31);
    text-decoration: none;
    font-size: 10px;
    margin: 25px;
  }

  .main_nav ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 15px;
    padding-top: 5px;
  }

  .main_nav {
    display: flex;
    justify-content: center;
  }
  /* Navigation ends  */

  /* Introduction Section begins  */
  .intro_section {
    text-align: center;
    height: auto;
    padding-bottom: 40px;
  }
  .intro_section_content {
    display: flex;
    gap: 0px;
    flex-direction: column-reverse;
  }
  .top_heading {
    font-size: 30px;
  }
  .bottom_heading {
    font-size: 20px;
    position: relative;
  }
  .bottom_heading::before {
    content: "";
    position: absolute;
    bottom: 120%;
    left: 27%;
    width: 45%;
    height: 2px;
    background-color: rgba(254, 102, 3, 255);
  }
  .paragraph_1 {
    font-size: 15px;
    color: rgb(101, 88, 88);
  }
  .first_button {
    background-color: rgba(254, 102, 3, 255);
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  .intro_section img {
    height: 200px;
    width: 200px;
  }

  /* Introductio Section ends  */

  /* Second part begins */
  .second_part {
    display: flex;
    justify-content: center;
    background-color: rgba(254, 245, 238, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .second_1 {
    text-align: center;
    color: rgba(254, 102, 3, 255);
    font-size: 22px;
    width: 70%;
    padding-left: 55px;
  }
  .second_2 {
    text-align: center;
    color: rgba(254, 102, 3, 255);
    font-size: 13px;
  }
  .second_2 a {
    color: #366dcc;
  }
  .second_part_box_container {
    display: flex;
    gap: 0px;
  }
  .box {
    display: inline-block;
    text-align: center;
    margin: 5px;
    color: rgba(254, 102, 3, 255);
    background-color: white;
    width: 60px;
    padding: 5px;
    border-radius: 3px;
    height: 50px;
    margin-bottom: 30px;
  }
  .box-label {
    font-size: 8px;
  }
  .header3 {
    width: 22px;
  }

  .header2 {
    width: 30px;
  }

  .header4 {
    width: 25px;
  }
  /* Second part ends */

  /* Third part begins */
  .third_part_image {
    height: 300px;
    width: 250px;
  }
  .third_part {
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: auto;
  }
  .text p {
    text-align: center;
    margin-bottom: 10px;
  }
  .heading_sec {
    color: rgba(254, 102, 3, 255);
    font-size: 28px;
  }
  .pgh_1 {
    font-size: 16px;
    color: rgba(254, 102, 3, 255);
  }

  .pgh_2 {
    font-size: 14px;
    color: rgb(160, 154, 154);
  }

  .pgh_3 {
    font-size: 14px;
    color: rgb(160, 154, 154);
  }
  /* Third part ends */

  /*fourth part begins*/
  .forth_part_content {
    width: 80%;
  }
  .forth_part_content h3 {
    color: rgb(101, 88, 88);
    width: 50%;
    padding-left: 80px;
  }
  .forth_part input {
    border: none;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
  }
  .forth_button {
    background-color: rgba(254, 102, 3, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    color: white;
    width: 93%;
  }
  /*fourth part ends*/

  /*footer*/
  footer {
    background-color: rgba(254, 102, 3, 255);
    color: white;
    text-align: center;
    margin-top: 30px;
  }
  footer p {
    font-size: 8px;
  }
}
